a {
    color: black;
  }

body {
    padding-top: 0; /* remove any initial padding */
}

.nav-link {
    color: black !important;
}

.row {
    scroll-margin-top: 34px; /* seems to be about right w/ added margin already*/
}
  



/*------------------------------------
- COLOR purple
------------------------------------*/
.alert-purple {
    color: #705da5;
    background-color: #12912f119;
    border-color: #11d122112;
}

.alert-purple hr {
    border-top-color: #10f111109;
}

.alert-purple .alert-link {
    color: #5a4a85;
}

.badge-purple {
    color: #212529;
    background-color: #B6ACD1;
}

.badge-purple[href]:hover, .badge-purple[href]:focus {
    color: #212529;
    background-color: #998bbe;
}

.bg-purple {
    background-color: #B6ACD1 !important;
}

a.bg-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
    background-color: #998bbe !important;
}

.border-purple {
    border-color: #B6ACD1 !important;
}

.btn-purple {
    color: #212529;
    background-color: #B6ACD1;
    border-color: #B6ACD1;
}

.btn-purple:hover {
    color: #212529;
    background-color: #a195c4;
    border-color: #998bbe;
}

.btn-purple:focus, .btn-purple.focus {
    box-shadow: 0 0 0 0.2rem rgba(182, 172, 209, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
    color: #212529;
    background-color: #B6ACD1;
    border-color: #B6ACD1;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active, .show > .btn-purple.dropdown-toggle {
    color: #212529;
    background-color: #998bbe;
    border-color: #9081b9;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus, .show > .btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(182, 172, 209, 0.5);
}

.btn-outline-purple {
    color: #B6ACD1;
    background-color: transparent;
    border-color: #B6ACD1;
}

.btn-outline-purple:hover {
    color: #212529;
    background-color: #B6ACD1;
    border-color: #B6ACD1;
}

.btn-outline-purple:focus, .btn-outline-purple.focus {
    box-shadow: 0 0 0 0.2rem rgba(182, 172, 209, 0.5);
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
    color: #B6ACD1;
    background-color: transparent;
}

.btn-outline-purple:not(:disabled):not(.disabled):active, .btn-outline-purple:not(:disabled):not(.disabled).active, .show > .btn-outline-purple.dropdown-toggle {
    color: #212529;
    background-color: #B6ACD1;
    border-color: #B6ACD1;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus, .btn-outline-purple:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(182, 172, 209, 0.5);
}

.list-group-item-purple {
    color: #705da5;
    background-color: #11d122112;
}

.list-group-item-purple.list-group-item-action:hover, .list-group-item-purple.list-group-item-action:focus {
    color: #705da5;
    background-color: #10f111109;
}

.list-group-item-purple.list-group-item-action.active {
    color: #212529;
    background-color: #705da5;
    border-color: #705da5;
}

.table-purple,
.table-purple > th,
.table-purple > td {
    background-color: #11d122112;
}

.table-hover .table-purple:hover {
    background-color: #10f111109;
}

.table-hover .table-purple:hover > td,
.table-hover .table-purple:hover > th {
    background-color: #10f111109;
}

.text-purple {
    color: #B6ACD1 !important;
}

a.text-purple:hover, a.text-purple:focus {
    color: #998bbe !important;
}
